/**
 * Misc
 */

.clearfix,
%clearfix {
  overflow: auto;
  zoom: 1;
}

%element-invisible,
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible() {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin margin-fixer() {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin owl($spacing: NULL) {
  > * + * {
    @if $spacing == NULL {
      margin-top: 1em;
    }
    @else {
      margin-top: $spacing;
    }
  }
}

%container--standard {
  @extend %clearfix;
  @include margin-fixer;
  @include owl;
}

@mixin vertical-center {
  position: relative;
  height: 50%;
  transform: translateY(-50%);
}
.v-center,
%v-center {
  @include vertical-center;
}

@mixin container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}
