/**
*
* Gallery
*
**/

/*doc
---
title: Gallery
name: gallery
category: Components - Gallery
---
This component utilizes the [Swiper](http://www.idangero.us/sliders/swiper) javascript library.

```html_example
    <div class="swiper-container swiper--pager">
      <div class="swiper-wrapper">
          <!--First Slide-->
          <div class="swiper-slide">
            <img src="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-XT.png">
          </div>

          <!--Second Slide-->
          <div class="swiper-slide">
            <img src="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-STALKER_0.png">
          </div>

          <!--Third Slide-->
          <div class="swiper-slide">
            Slider text information
          </div>
      </div>
      <div class="swiper-pager"></div>
    </div>
```

Here is an example of using the Gallery component with the Lightbox component.

```html_example
    <div class="swiper-container swiper--pager">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-XT.png" class="swipebox" title="My Caption">
              <img src="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-XT.png" width="100" height="200">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-STALKER_0.png" class="swipebox" title="My Caption">
              <img src="http://www.iwomouterwear.com/sites/default/files/styles/product_large/public/field/image/IWOM-STALKER_0.png" width="100" height="200">
            </a>
          </div>
          <div class="swiper-slide">
            Slider text information
          </div>
      </div>
      <div class="swiper-pager"></div>
    </div>
```
*/

.swiper-pager {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.swiper-pagination-switch {
  height: 13px;
  width: 13px;
  background: #EAEAEA;
  border: 1px solid map-get($colors, primary);
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.swiper-active-switch {
    background-color: map-get($colors, primary);
  }
}
