/**
 * Rating Meter
 */

/*doc
---
title: Rating Meter
name: ratingmeter
category: Components - Rating Meter
---

```html_example
  <div class="ratingmeter">
    <div class="ratingmeter__label">Warmth</div>
    <div class="ratingmeter__meter">
      <svg id="rid-1" class="rating-meter" width="100%" height-"100%" viewBox="0 0 500 500" data-rating="10"></svg>
    </div>
  </div>
```
```html_example
  <div class="ratingmeter">
    <div class="ratingmeter__label">Warmth</div>
    <div class="ratingmeter__meter" data-rating="10">10 out of 10</div>
  </div>
  <div class="ratingmeter">
    <div class="ratingmeter__label">Mobility</div>
    <div class="ratingmeter__meter" data-rating="6">6 out of 10</div>
  </div>
  <div class="ratingmeter">
    <div class="ratingmeter__label">Weather</div>
    <div class="ratingmeter__meter" data-rating="10">8 out of 10</div>
  </div>
```
*/

.ratingmeter {
  @extend %clearfix;

  & + & {
    margin-top: .5em;
  }
}

.ratingmeter__label {
  font-size: .8em;
  font-weight: bold;
  text-align: center;
}

.ratingmeter__meter {

}
