/**
 * Product
 */

/* Mixins */
@mixin product-gallery-bg {
  background-color: #808080;
  background: url('../images/cold-weather.jpeg') no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    @include background-image(linear-gradient(at bottom, white, rgba(255,255,255, 0.5) 30%));
    position: absolute;
    bottom: 0;
  }
}

.product__hero {
  display: block;
}

.product__gallery {
  @include product-gallery-bg;
  text-align: center;
  position: relative;
  width: 100vw;

  &.col {
    padding: 0;
    @include breakpoint($material-medium) {
      // We are going to make the background of the product gallery be full width.
      width: 100% !important;
      padding-right: 50%;
      margin-right: -50% !important;
    }
  }

  .swiper-wrapper {
  }

  .swiper-pager {
    @include breakpoint($material-medium) {
      display: none;
    }
  }

  img {
    position: relative;
    margin: auto;
    display: block;
  }
}

.product__gallery-thumbnails {
  // Hide the product gallery on mobile
  @include breakpoint(0 $material-medium) {
    display: none;
  }
  position: relative;
}

.product__gallery-thumbnail {
  height: 150px;
  padding: 3px;
  display: inline-block;

  img {
    height: 100%;
    width: auto;
  }
}

.product_videos-wrapper {
  @extend %container;
  overflow: visible;
}

.product__videos {
  position: relative;
  margin: 0 calc(-50vw + 50%);
  @include background-image(
    linear-gradient(180deg, rgba(12,13,13,1.00) 0%, rgba(54,54,54,1.00) 100%)
  );
  padding: 2em inherit;
  @include breakpoint($material-medium) {
    padding-top: 3em;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid white;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.5em;
    @include breakpoint($material-medium) {
      border-width: 2em;
      margin-left: -1em;
    }
  }
}

.product__video-title {
  font-size: $font-content-subhead;
}

.product__video {
  @extend %container;
  position: relative;
}

.product__vid-wrapper {
  position: relative;
  padding-top: 60%;

  iframe {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.product__info-box {
  @include owl();
  position: relative;
  @include breakpoint($material-medium) {
    background: white;
    font-size: .8em;
  }
  @include breakpoint($material-large) {
    margin-top: 2em;
    border: 4px solid rgba(255,255,255, 0.7);
    position: relative;
  }
}

.product__title {
  margin-bottom: 0;

  & + *:first-of-type {
    // Remove the maring of the first element directly after
    // the product title.
    margin-top: 0;
  }
}

.product__series {
  margin-top: 0;
}

.product__price {
  font-size: 1.2em;
  font-weight: bold;
}

.product__description {
  @include margin-fixer;
}

.product__rating-meter {
  display: block;
  display: flex;
  justify-content: center;

  .ratingmeter {
    display: block;
    width: 25%;
    float: left;
    margin: 0;
  }
}

.product__rating-meter-title {
  @include element-invisible;
}

.product__quick-links {
  font-size: .8em;
  margin-top: 1em;

  a {
    display: block;
  }
}

.product__add-to-cart {
  margin-top: 1em;
  text-align: right;
}

.product__testimonials {
  @extend %container;
}

.product__testimonials-title {
  font-size: $font-content-subhead;
}
