/**
 * Product
 */

/* Mixins */
@mixin product-gallery-bg {
  background-color: #808080;
  background: url('../images/cold-weather.jpeg') no-repeat;
  background-size: cover;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    @include background-image(linear-gradient(at bottom, white, rgba(255,255,255, 0.5) 30%));
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

.product__hero {
  display: block;
  overflow: hidden;
  @include breakpoint($material-medium) {
    @include product-gallery-bg;
  }
}

.product__gallery {
  @include breakpoint(0 $material-medium) {
    @include product-gallery-bg;
  }
  text-align: center;
  position: relative;
  z-index: 10;

  &.col {
    padding: 0;
  }

  .swiper-wrapper {
    z-index: 10;
  }

  .swiper-pager {
    @include breakpoint($material-medium) {
      display: none;
    }
  }

  img {
    position: relative;
    z-index: 100;
    margin: auto;
    display: block;
  }
}

.product__gallery-thumbnails {
  // Hide the product gallery on mobile
  @include breakpoint(0 $material-medium) {
    display: none;
  }
  position: relative;
  z-index: 10;
}

.product__gallery-thumbnail {
  height: 150px;
  padding: 3px;
  display: inline-block;

  img {
    height: 100%;
    width: auto;
  }
}

.product__video {
  position: relative;
  padding-top: 60%;

  iframe {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.product__info-box {
  position: relative;
  z-index: 10;
  @include breakpoint($material-medium) {
    background: white;
  }
}

.product__rating-meter {
  .ratingmeter {
    display: block;
    overflow: hidden;
    width: 33%;
    float: left;
    margin: 0;
  }
}

.product__rating-meter-title {
  @include element-invisible;
}
