/**
 * Product
 */

.product__gallery {

}

.product__video {
  position: relative;
  padding-top: 60%;

  iframe {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.product__banner {
  position: relative;
  display: block;
  overflow: hidden;
  height: 25vw;
  transition: height 1s ease;
}

.product__banner-img {
  width: 100%;
  height: auto;
}

.product__banner-text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-32%);
}

.product__banner-vid {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.product__banner-vid-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 60vw;
  display: block;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.play-video {
  height: 60vw;

  .product__banner-vid {
    display: block;
  }
}
